In [1]:
#Importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
#Loading the Dataset
data = pd.read_csv('data.csv')

In [3]:
#Checking for null values
data.isnull().values.any()

False

In [4]:
data.describe()

,Patient number,Cholesterol,Glucose,HDL Chol,Chol/HDL ratio,Age,Height,Weight,BMI,Systolic BP,Diastolic BP,waist,hip,Waist/hip ratio
count,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000
mean,195.500000,207.230769,107.338462,50.266667,4.524615,46.774359,65.951282,177.407692,28.775641,137.133333,83.289744,37.869231,42.992308,0.881385
std,112.727548,44.666005,53.798188,17.279069,1.736634,16.435911,3.918867,40.407824,6.600915,22.859528,13.498192,5.760947,5.664342,0.073212
min,1.000000,78.000000,48.000000,12.000000,1.500000,19.000000,52.000000,99.000000,15.200000,90.000000,48.000000,26.000000,30.000000,0.680000
25%,98.250000,179.000000,81.000000,38.000000,3.200000,34.000000,63.000000,150.250000,24.100000,122.000000,75.000000,33.000000,39.000000,0.830000
50%,195.500000,203.000000,90.000000,46.000000,4.200000,44.500000,66.000000,173.000000,27.800000,136.000000,82.000000,37.000000,42.000000,0.880000
75%,292.750000,229.000000,107.750000,59.000000,5.400000,60.000000,69.000000,200.000000,32.275000,148.000000,90.000000,41.000000,46.000000,0.930000
max,390.000000,443.000000,385.000000,120.000000,19.300000,92.000000,76.000000,325.000000,55.800000,250.000000,124.000000,56.000000,64.000000,1.140000

In [5]:
data.head()

,Patient number,Cholesterol,Glucose,HDL Chol,Chol/HDL ratio,Age,Gender,Height,Weight,BMI,Systolic BP,Diastolic BP,waist,hip,Waist/hip ratio,Diabetes
0,1,193,77,49,3.9,19,female,61,119,22.5,118,70,32,38,0.84,No diabetes
1,2,146,79,41,3.6,19,female,60,135,26.4,108,58,33,40,0.83,No diabetes
2,3,217,75,54,4.0,20,female,67,187,29.3,110,72,40,45,0.89,No diabetes
3,4,226,97,70,3.2,20,female,64,114,19.6,122,64,31,39,0.79,No diabetes
4,5,164,91,67,2.4,20,female,70,141,20.2,122,86,32,39,0.82,No diabetes

In [6]:
#Applying one hot encoder for gender and Diabetes Column
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder() 
  
data['Gender']= le.fit_transform(data['Gender']) 
data['Diabetes']= le.fit_transform(data['Diabetes']) 
data

,Patient number,Cholesterol,Glucose,HDL Chol,Chol/HDL ratio,Age,Gender,Height,Weight,BMI,Systolic BP,Diastolic BP,waist,hip,Waist/hip ratio,Diabetes
0,1,193,77,49,3.9,19,0,61,119,22.5,118,70,32,38,0.84,1
1,2,146,79,41,3.6,19,0,60,135,26.4,108,58,33,40,0.83,1
2,3,217,75,54,4.0,20,0,67,187,29.3,110,72,40,45,0.89,1
3,4,226,97,70,3.2,20,0,64,114,19.6,122,64,31,39,0.79,1
4,5,164,91,67,2.4,20,0,70,141,20.2,122,86,32,39,0.82,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,386,227,105,44,5.2,83,0,59,125,25.2,150,90,35,40,0.88,1
386,387,226,279,52,4.3,84,0,60,192,37.5,144,88,41,48,0.85,0
387,388,301,90,118,2.6,89,0,61,115,21.7,218,90,31,41,0.76,1
388,389,232,184,114,2.0,91,0,61,127,24.0,170,82,35,38,0.92,0
389,390,165,94,69,2.4,92,0,62,217,39.7,160,82,51,51,1.00,1

In [7]:
#Separating the features and target variable
X=data.iloc[:,1:15]
Y=data['Diabetes']

In [8]:
#Splitting the data into training and test data
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20, random_state=10)

In [9]:
#Importing Rnadom forest Classifier for classification
from sklearn.ensemble import RandomForestClassifier
random_forest_model = RandomForestClassifier(random_state=10)
random_forest_model.fit(X_train, y_train.ravel())

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [10]:
predictions=random_forest_model.predict(X_test)
from sklearn import metrics
print(metrics.accuracy_score(y_test,predictions))

0.8846153846153846

In [11]:
#Printing the accuracy of our Model
print("Accuracy = {0:.3f}".format(metrics.accuracy_score(y_test, predictions)))

Accuracy = 0.885